
.body{
    background-color:  hsl(225, 100%, 94%);
    height: 100vh;
}
.container{
    padding-top: 45px;
}

.card{
    width: 22rem;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    float: none;
    border-radius: 15px !important;
    box-shadow: 0 8px 6px -6px rgb(124, 123, 123);
}

.back-img{
    position: absolute;
    width: 100vw;
    margin: 0;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 15px;
}
.card-text{
    color: rgb(114, 114, 114);
    padding:0 7%;
    margin: 15px;
    margin-bottom: 20px;
}

.music-img{
    width: 18%;
    margin-top: 5px;
}

.pricing{
    background-color:  hsl(225, 100%, 98%);
    padding: 10px 15px;
    margin:30px;
    border-radius: 10px;
    text-align: left;
    position: relative;

}
.pricing img{
    float: left;
    margin-right: 10px;
}
.pricing-text{
    font-weight: bolder;
    font-size: 15px;
    margin-left: 0;
}
.price{
    margin-top: -5px;
    margin-bottom: 5px;
}
:hover.cancel{
    color: rgba(0, 0, 0, 0.719);
    text-decoration: none;
}
.cancel{
    font-weight: 900;
    color: black;
    font-size: 0.8rem;
}

.change{
    color:#5d33f691   ;
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 20px;
}
:hover.change{
    color:#5d33f67c   ;
    text-decoration: none;
}

.button{
    color: white;
    background-color: #5d33f6be ;
    padding: 10px 70px;
    font-weight:500 ;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
	box-shadow: 0 8px 6px -6px rgb(139, 139, 139);
}
:hover.button{
    color: white;
    text-decoration: none;
    background-color:#5d33f6b6    ;
}
.img-header img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
